body {
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .content  {
    box-sizing: content-box;
    width: 300px;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;

}

.container .content img {
    width: 200px;
    border-radius: 10px;
    
}

.container .content > p {
    font-size: 15px;
}